<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <a href="javascript:;" class="btn btn-primary btn-md" (click)="addProfessor.show()" role="button">Add
        Professor</a>
      <a class="btn btn-primary btn-md ml-2" routerLink="/ViewProfessorTimeTable" role="button">Add Lecture</a>
    </div>
  </div>
  <div class="timetable-img text-center">
    <img src="img/content/timetable.png" alt="">
  </div>


  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <thead>
        <tr class="bg-light-gray">
          <th class="text-uppercase">Time
          </th>
          <th class="text-uppercase">Monday</th>
          <th class="text-uppercase">Tuesday</th>
          <th class="text-uppercase">Wednesday</th>
          <th class="text-uppercase">Thursday</th>
          <th class="text-uppercase">Friday</th>
        </tr>
      </thead>
      <tbody>

        <tr class="row1" *ngFor="let lac of lecture;let i = index">
          <td class="align-middle">{{lac}}</td>
          <td class="col1" *ngFor="let time of timings;let j = index">
            <span
              class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13"
              (click)="addLecture(i,j)">+</span>
            <div class="margin-10px-top font-size14">{{time}}</div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<div class="modal fade" bsModal #addProfessor="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Add Professor</h2>
      </div>

      <div class="modal-body">
        <div class="container">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Professor Name</label>
              <input type="email" class="form-control" id="professorName" [(ngModel)]="professorName"
                placeholder="Enter Name" name="professorName">
              <small *ngIf="validateProfessor" id="emailHelp" class="form-text text-muted danger">Kindly Add Professor
                Name.</small>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:;" class="btn btn-success btn-md" (click)="addProfessorName()" type="submit"
          role="button">Add</a>
        <a href="javascript:;" class="btn btn-light btn-md" (click)="addProfessor.hide()" role="button">Cancel</a>
      </div>
    </div>
  </div>
</div>
